.firstpage{
    width: 100%;
    height: 100%;
}

.infotextDiv{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    animation: blinkingInfoScreen 2s alternate infinite;
    animation-delay: 4s;
}

.backgroundPOne{
    z-index: -1;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    animation: blur 3s normal;
}

.name{
    margin: 0;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    animation: write 3s normal;
}

.infotextTLDR{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    animation-name: hide, show;
    animation-duration: 2.8s, 1.5s;
    animation-delay: 0s, 2.8s;
}

.arrow{
    position: absolute;
    left: 61%;
    top: 13.4vw;
    width: 100px;
    animation: hide 5s;
}

@media all and (min-width: 800px){
    @media all and (min-width: 1301px){
        .infotextDiv{
            position: absolute;
            left: 20%;
            top: 220px;
            width: 35vw;
        }
    }

    .name{
        font-size: 3.5vw;
    }

    .infotextTLDR{
        font-size: 1.6vw;
        left: 70px;
    }
    @media all and (min-width: 1700px){
        .arrow{
            left: 61%;
            top: 13.4vw;
            width: 100px;
        }
    }
    @media all and (max-width: 1699px) and (min-width:1301px){
        .arrow{
            left: 61%;
            top: 13vw;
            width: 100px;
        }
        }

    @media all and (max-width: 1300px){
        .arrow{
            left: 56vw;
            top: 13vw;
            width: 100px;
            transform: rotate(-60deg);
        }
        .infotextDiv{
            position: absolute;
            left: 13%;
            top: 150px;
            width: 37vw;
        }
    }
    
    }



@keyframes blur{
    from{filter: blur(3px)}
    to{filter: blur(0px)}
}

@keyframes write{
    from{opacity: 0%; width: 0;}
    to{opacity: 100%; width: 100%;}
}

@keyframes hide{
    from {opacity: 0;}
    to {opacity: 0;}
}

@keyframes show{
    from{transform: translateX(-1000px) rotate(-5deg);}
    to{transform: translateX(none)}
}

@keyframes blinkingInfoScreen{
    from{background-color: rgba(125, 125, 125, 0.1);}
    30%{background-color: rgba(125, 125, 125, 0.20);}
    60%{background-color: rgba(125, 125, 125, 0.3);}
    to{background-color: rgba(125, 125, 125, 0.25);}
}