.tbd{
    font-family: 'Times New Roman', sans-serif;
}

.Text{
    animation: animation 4s infinite;
    margin: 0px;
    padding: 0px;
}

@keyframes animation{
    from{font-size: 30px; transform: rotate(10deg);}
    50%{font-size: 90px; transform: rotate(-20deg)}
    to{font-size: 30px; transform: rotate(10deg)}
}