.thirdpage{
    margin: 0;
    padding: 0;
    height: 100vh;
    visibility: var(--thirdPageVis);
    position: var(--thirdPagePos);
}

.mainThird{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: lightslategrey;
}

.imgWrapper .generellInfo{
    height: 173px;
}

.infobox{
    color: black;
    background-color: white;
    height: 330px;
    width: 570px;
    border-radius: 7px;
    box-shadow: rgba(0,0,0,0.15) 20px 20px;    
}

.topText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.megmedkona{
    position: relative;
    max-width: 175px;
    height: auto;
    border-radius: 1000px;
    left: 10px;
    top: 10px;
}

.generellInfo{
    position: relative;
    text-align: right;
    font-size: 20px;
    top: 37px;
    right: 10px;
}

.bottomText{
    position: relative;
    top: 25px;
    width: 185px;
    display: grid;
    grid-template-columns: 190px 190px 190px;
    grid-template-rows: 80px 80px;
    justify-items: center;
}

.logo{
    height: 75px;
}

.bottomText a:active, a:focus{
    border: none;
    outline: 0;
}

p{
    padding: 0;
    margin: 4px;
}