@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html, body, #root{
  font-family: Raleway;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.firstpage{
  visibility: hidden;
}