@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html, body, #root{
  font-family: Raleway;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


@media all and (min-width: 1001px){
  
  #jegErLat{
    visibility: hidden;
    display: none;
  }

  .secondpage{
    visibility: hidden;
    position: fixed;
  }

  .thirdpage{
    visibility: hidden;
    position: fixed;
  }

  body{
    --firstPageVis: visible;
    --firstePagePos: relative;
    --secondPageVis: hidden;
    --secondPagePos: fixed;
    --thirdPageVis: hidden;
    --thirdPagePos: fixed;
  }
}


@media all and (max-width: 1000px){

  #jegErLat{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: black;
    visibility: visible;
  }

  body{
    --firstPageVis: hidden;
    --firstePagePos: fixed;
    --secondPageVis: hidden;
    --secondPagePos: fixed;
    --thirdPageVis: hidden;
    --thirdPagePos: fixed;
  }

  .knappOpp, .knappNed{
    visibility: hidden;
    position: fixed;
  }

}

a:visited{
  color: blue;
}

.knappOpp{
  position: fixed;
  z-index: 100;
  top: 85vh;
  left: 90vw;
}
.knappNed{
  position: fixed;
  z-index: 100;
  top: 90vh;
  left: 90vw;
}

@keyframes showPage{
  to{visibility: visible; position: relative;}
}

@keyframes hidePage{
  to{visibility: hidden; position: fixed;}
}